<% provide(:name, "About me") %>

<section class="about container">
<div class="content">
    
    <div class="personal-info">
        <p>I am a fullstack developer from Lagos, Nigeria.</p>
        <br>
        <p>Learn more about me</p> 
        <div class="full-article">
            <%= link_to "GET RESUME", resume_path, target: "_blank" %>
        </div>
        
    </div>
</div>
    
</section>
