<% provide(:name, "About me") %>

<section class="about container">
<div class="content">
    
    <div class="personal-info">
        <p>
            I, Anita Emmanuella Odiaka (She/her), am a fullstack developer from Lagos, Nigeria. I have a Bsc in Systems Engineering and I honed my development skills at Microverse, which is a global remote school for software developers.
        </p>

        <p>
            I take an artistic and unique approach when solving problems. I am passionate about building excellent and intuitive programmes, that can help me and others around me, do little things in a new way. 
        </p>

        <p>
            Before joining Microverse, I was a software consultant for 4 years at Zucchini Global Nigeria, which is an organisation that is focused on solving software related problems for their clients by offering them ERP solutions. While there, I was the team lead in charge of offering training and support to the staff and clients, as well as installing these solutions and making sure everything was as the client requested.  
        </p>

        <p>
            My work at zucchini got me intrigued with how these tools I was working with everyday worked and I got curious about how the back end works and how everything translates to the beautiful web applications I was used to.
        <br>

        <p>
            I am interested in Frontend and Backend development and I love to take up new and exciting challenges. I admire simple and clean design models that are responsive in interactions. I also apreciate working in a peaceful environment with positive and achievement driven mindset.
        </p>

        <p>
            When I am not hacking away at a problem or building a project, you will find me reading a book, catching up with my favorite TV series or dancing away to beautiful music.
        </p>
        <p>Learn more about me</p> 
        <div class="full-article">
            <%= link_to "GET RESUME", resume_path, target: "_blank" %>
        </div>
        
    </div>
</div>
    
</section>
