
<section class="home">
<%= image_tag("illustration-with-programmer-working.jpg", alt: "Welcome message", class: "img-responsive img") %>  
<div class="row">
  <div>
    <div class="welcome-info">
      <p class="p">Oh! Hi There!</p>
      <p class="p">I am a Fullstack Engineer. I solve
      <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "all problems.", "some problems.", "problems, okay?" ]'></span>
      </p>
      <div class="stack">
        <div class="stack__wrapper">
          <p class="stack__wrapper__text">
            Stack:
          </p>
          
          <ul class="stack__wrapper__list">
            <li class="stack__wrapper__list__item">HTMl</li>
            <li class="stack__wrapper__list__item">CSS</li>
            <li class="stack__wrapper__list__item">Javascript</li>
            <li class="stack__wrapper__list__item">Ruby (Ruby on Rails)</li>
            <li class="stack__wrapper__list__item">SQL</li>
          </ul>
        </div>
      </div>
      <div class=social>
        <p class="p gtnm">Get to know me better... </p>
        <div class="socials">
          <a href="https://twitter.com/o___audrey_xo" target="blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/emmanuella-anita-odiaka/" target="blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Audrey-Ella-xo" target="blank"><i class="fab fa-github"></i></a>
          <a href="https://medium.com/@anitaudrey" target="blank"><i class="fab fa-medium"></i></a>
          <a href="mailto:anitaudrey@gmail.com" target="blank"><i class="fas fa-envelope"></i></a>
          <a href="skype:live:anitaudrey?call" target="blank"><i class="fab fa-skype"></i></a>
        </div>
    </div>
      
    </div>
  </div>
</div>
</section>
<div class="imgg"></div>

