
<section class="home">
<%= image_tag("illustration-with-programmer-working.jpg", alt: "Welcome message", class: "img-responsive img") %>  
<div class="row">
  <div>
    <div class="welcome-info">
      <p class="p">Oh! Hi There!</p>
      <p class="p">I am a Fullstack Engineer. I solve
      <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "all problems.", "some problems.", "problems, okay?" ]'></span>
      </p>
      <div class="stack">
        <div class="stack__wrapper">
          <p class="stack__wrapper__text">
            Stack:
          </p>
          
          <ul class="stack__wrapper__list">
            <li class="stack__wrapper__list__item">HTMl</li>
            <li class="stack__wrapper__list__item">CSS</li>
            <li class="stack__wrapper__list__item">Javascript</li>
            <li class="stack__wrapper__list__item">Ruby (Ruby on Rails)</li>
            <li class="stack__wrapper__list__item">SQL</li>
          </ul>
        </div>
      </div>
      <p class="p gtnm">Get to know me better... </p>
    </div>
  </div>
</div>
</section>
<div class="imgg"></div>

