<% provide(:name, "Featured projects") %>

<section class="featured-works">
<div class="wct">
  <div class="card container">
    <div class="project">
      <%=link_to image_tag("paiable.png", alt: "Welcome message", class: "img-responsive card-img-top d-block w-100" ), "#" %>    
      <div class="ptext">
        <p>Paiable</p>
        <p>HTML-CSS-SQL-ROR</p>
      </div>
      <div class="detail "> 
        <p>This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <div>
            <a href="#"><i class="fas fa-eye"></i></a>
            <a href="#"><i class="fas fa-code"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card container">
    <div class="project">
     <%=link_to image_tag("friends.png", alt: "Welcome message", class: "img-responsive card-img-top d-block w-100" ), "#" %>    
     <div class="ptext">
        <p>Stay In Touch</p>
        <p>HTML-CSS-SQL-ROR</p>
      </div>
      <div class="detail "> 
        <p>This is a wider card with supporting text below as a natural lead-in to additional content</p>
        <div>
            <a href="#"><i class="fas fa-eye"></i></a>
            <a href="#"><i class="fas fa-code"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
