$primary-color: rgba(255,0,132,1);
$secondary-color: #ff3838;
$accent-color: #fffa65;
$color-1st: #6C63FF;
$text-primary: #3d3d3d;
$text-secondary: #747d8c;
$text-white: #f1f2f6;
$bg: #f3eed3;
header {
    width: 100%;
    margin-left: 130px;
    background: #F7B3C4;
    background: -moz-linear-gradient(left, #F7B3C4 0%, rgba(255,0,132,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #F7B3C4), color-stop(100%, rgba(255,0,132,1)));
    background: -webkit-linear-gradient(left, #F7B3C4 0%, rgba(255,0,132,1) 100%);
    background: -o-linear-gradient(left, #F7B3C4 0%, rgba(255,0,132,1) 100%);
    background: -ms-linear-gradient(left, #F7B3C4 0%, rgba(255,0,132,1) 100%);
    background: linear-gradient(to right, #F7B3C4 0%, rgba(255,0,132,1) 100%);
    .content {
        font-weight: bolder;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.164);
    }
    .bgtext {
        margin-left: -60px;
    }
}

.personal-info {
    margin: 120px 150px 50px 50px;
    padding: 0 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
