<aside>
    <div class="links">
        <ul>
            <li><%=link_to image_tag("icons8-home.svg", alt: "Welcome message"), root_path %></li>  
            <li><%=link_to image_tag("icons8-project-management-80.png", alt: "Featured Projects"), projects_path %></li>  
            <li><%=link_to image_tag("icons8-news.svg", alt: "Online articles"), publication_path %></li> 
            <li><%=link_to image_tag("icons8-new-message-80.png", alt: "Online articles"), contact_path %></li>   
        </ul>
    </div>
    <div class="socials">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-medium"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-skype"></i></a>
    </div>
</aside>